<a href="https://colab.research.google.com/github/Pradarsh-mittal/PW-Skills-assignment/blob/main/Assigemnet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. What are data structures, and why are they important?
# Data structures organize and store data efficiently. They are important because they improve performance and make problem-solving easier.

# 2. Difference between mutable and immutable data types with examples
# Mutable types (e.g., list, dict) can be changed after creation. Immutable types (e.g., tuple, str) cannot be modified.

# 3. Main differences between lists and tuples in Python
# Lists are mutable and slower but flexible. Tuples are immutable, faster, and often used for fixed data.

# 4. How dictionaries store data
# Dictionaries store data as key–value pairs using hash tables for fast lookups.

# 5. Why use a set instead of a list in Python
# Sets automatically remove duplicates and provide faster membership tests.

# 6. What is a string in Python, and how is it different from a list
# A string is an immutable sequence of characters. A list is mutable and can hold different data types.

# 7. How tuples ensure data integrity in Python
# Tuples are immutable, so their values cannot be altered accidentally.

# 8. What is a hash table, and how does it relate to dictionaries in Python
# A hash table maps keys to values via a hash function. Python dictionaries use hash tables internally.

# 9. Can lists contain different data types in Python?
# Yes, a list can store integers, strings, floats, and even other lists.

# 10. Why strings are immutable in Python
# Immutability ensures memory efficiency, caching, and safer data handling.

# 11. Advantages dictionaries offer over lists
# Dictionaries provide fast key-based lookups, while lists require searching by index or value.

# 12. How sets handle duplicate values in Python
# Sets automatically discard duplicate elements, keeping only unique values.

# 13. Scenario where tuple is preferable over a list
# When storing fixed data like coordinates (x, y) or days of the week, tuples are better.

# 14. How the “in” keyword works differently for lists and dictionaries
# For lists, in checks values. For dictionaries, in checks keys.

# 15. Can you modify elements of a tuple? Explain why or why not
# No, tuples are immutable, so once created, their elements cannot change.

# 16. What is a nested dictionary, and example use case
# A nested dictionary is a dictionary inside another, e.g., { "student": {"name": "John", "age": 20} }. Used for structured data.

# 17. Time complexity of accessing elements in a dictionary
# Average case is O(1) due to hash table lookup.

# 18. Situations where lists are preferred over dictionaries
# When order matters or when storing simple sequences of items.

# 19. Why dictionaries are considered unordered, and effect on retrieval
# Keys are stored by hash, not order. Retrieval is by key, not sequence.

# 20. Difference between a list and a dictionary in terms of data retrieval
# Lists retrieve by index (position), while dictionaries retrieve by key (identifier).

In [ ]:
print("hello")

hello

In [ ]:
# Write a code to create a string with your name and print it
s = "Pradarsh"
type(s)
print(s)

Pradarsh

In [ ]:
# Write a code to find the length of the string "Hello World"
s = "Hello World"
len(s)

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python Programming"
sop = "Python Programming"
print(f"First - {sop[0]},Second - {sop[1]},Thrid - {sop[2]}")

First - P,Second - y,Thrid - t

In [ ]:
# Write a code to convert the string "hello" to uppercase
s = "hello"
s.upper()

'HELLO'

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
s.replace("apple","orange")

'I like orange'

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it
num = [1,2,3,4,5]
type(num)
num

[1, 2, 3, 4, 5]

In [ ]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
app = [1, 2, 3, 4]
app.append(10)
app

[1, 2, 3, 4, 10]

In [ ]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
rem = [1, 2, 3, 4, 5]
rem.remove(3)
rem

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
acce = ['a', 'b', 'c', 'd']
acce[1]

'b'

In [ ]:
# Write a code to reverse the list [10, 20, 30, 40, 50]
rev = [10, 20, 30, 40, 50]
rev[::-1]

[50, 40, 30, 20, 10]

In [ ]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
tup = (100,200,300)
tup

(100, 200, 300)

In [ ]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
ltup = ('red', 'green', 'blue', 'yellow')
ltup[2]

'blue'

In [1]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))

5

In [2]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [3]:
#  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t = ("apple", "banana", "mango")
print("kiwi" in t)

False

In [ ]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a','b','c'}
print(s)

{'a', 'c', 'b'}

In [ ]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}
cle = {1, 2, 3, 4}
cle.remove(4)
cle

{1, 2, 3}

In [5]:
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1, 2, 3}
b = {3, 4, 5}
print(a | b)

{1, 2, 3, 4, 5}

In [6]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a & b)

{2, 3}

In [7]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {"name": "John", "age": 25, "city": "NY"}
print(d)

{'name': 'John', 'age': 25, 'city': 'NY'}

In [8]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [9]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [10]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [11]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [12]:
# Write a code to create a list, a tuple, and a dictionary, and print them all
l = [1, 2, 3]
t = (4, 5, 6)
d = {"a": 1, "b": 2}
print(l, t, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [13]:
#  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
l = random.sample(range(1,101),5)
l.sort()
print(l)

[6, 63, 74, 91, 98]

In [14]:
# Write a code to create a list with strings and print the element at the third index.
l = ["a", "b", "c", "d", "e"]
print(l[3])

d

In [15]:
#Write a code to combine two dictionaries into one and print the result.
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [16]:
#Write a code to convert a list of strings into a set.
l = ["apple", "banana", "apple", "mango"]
s = set(l)
print(s)

{'banana', 'mango', 'apple'}